#App{
    background-color: white;
    object-fit: fill;
    font-family: 'Manrope', sans-serif;

}

#home-page, #event-page, #complete-page, #missing-page{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#event-page #eventDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center
}

#event-page .eventHeaders {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 5%;
}

.noEventHeader {
    text-align: center;
    margin-top: 5%;
    max-width:90%;
}